 
 /*  html,
  body {
    padding: 0;
    margin: 0;
  } */
  
 /*  body {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  } */

* {
box-sizing: border-box;
}

table, th, td {
display: grid;
border: 0.5px solid #333;
border-collapse: collapse;
min-width: 100%;
grid-template-columns: repeat(4, 1fr)
    /* minmax(150px, 1fr)
    minmax(150px, 1fr)
    minmax(150px, 1fr)
    minmax(150px, 1fr) */
}

thead,
tbody,
tr {
display: contents;
}

th,
td {
padding: 15px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
/*   
  th {
    position: sticky;
    top: 0;
    background: #6c7ae0;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
  } */
  
 /*  th:last-child {
    border: 0;
  } */
  
 /*  td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
  } */
  
  /* tr:nth-child(even) td {
    background: #f8f6ff;
  } */