.callout {
	max-width: 500px;
	margin: 10px;
	border: 1px solid black;
	padding: 15px;
	background-color: steelblue;
	color: white;
}

.callout img {
	float: right;
	margin: 10px;
	border: 1px solid black;
	padding: 5px;
	background-color: beige;
	width: 100px;
	height: auto;
	
}

blockquote {
	margin: 5px;
}

cite {
	display: block;
	border-top: 1px solid white;
	padding-top: 5px;
	text-align: right;
	font-size: 10pt;
}